<mat-expansion-panel hideToggle="true" (opened)="onOpenClosePanel()" (closed)="onOpenClosePanel()">
  <mat-expansion-panel-header>
    <mat-panel-title>
      <a>Reclamos</a>
    </mat-panel-title>
    <mat-panel-description>
      <mat-icon *ngIf="!isOpen" matBadge="0" matBadgeColor="warn" matBadgeSize="small" matBadgePosition="below">warning</mat-icon>
      <mat-icon *ngIf="isOpen" (click)="openDialog()">add_circle_outline</mat-icon>
    </mat-panel-description>
  </mat-expansion-panel-header>

  <div class="container-filtros" style="width: 100%; display: flex;" *ngIf="usuario.id_rol <= 2">
    <div style="width: 50%;">
      <mat-form-field style="width: 300px;">
        <mat-select placeholder="Consorcios" (selectionChange)="onConsorcioChange($event)">
          <mat-option *ngFor="let consorcio of consorcios |async" [value]="consorcio.id_consorcio" >{{consorcio.nombre}}</mat-option>
        </mat-select>
      </mat-form-field>
    </div>

    <!-- <div style="width: 33.33%;">
      <mat-checkbox style="margin: 0 1rem;" [(ngModel)]="formModel.estado" >Nuevo</mat-checkbox>
      <mat-checkbox style="margin: 0 1rem;" [(ngModel)]="formModel.estado">En curso</mat-checkbox>
      <mat-checkbox style="margin: 0 1rem;" [(ngModel)]="formModel.estado">Finalizado</mat-checkbox>
    </div>

    <div style="width: 33.33%; text-align: right;">
      <button mat-button color="accent" (click)="marcarUsuarioComoActivo(usuario.user)">BUSCAR</button>
    </div> -->

  </div>

  <table class="table" *ngIf="(reclamos | async)?.length > 0">
    <thead>
      <tr>
        <th>N°</th>
        <th>Titulo</th>
        <th>Unidad</th>
        <th>Estado</th>
        <th>Ultima actualizacion</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <!-- <tr *ngFor="let usuario of usuarios |async">
        <td>{{usuario.user}}</td>
        <td>{{usuario.persona}}</td>
        <td>
          <strong>{{usuario.rol}}</strong>
        </td>
        <td>{{usuario.consorcio}}</td>
        <td>{{usuario.unidad}}</td>
        <td>
          <button mat-button color="accent" (click)="marcarUsuarioComoActivo(usuario.user)">DAR DE ALTA</button>
        </td>
      </tr> -->
    </tbody>
  </table>
</mat-expansion-panel>