<h1 mat-dialog-title>Agregar gasto</h1>
<form (ngSubmit)="onSubmit()" #gastoForm="ngForm" autocomplete="off">

  <mat-form-field style="width: 100%;">
    <input [(ngModel)]="formModel.operador" matInput disabled placeholder="Operador" [ngModelOptions]="{standalone: true}">
  </mat-form-field>

  <mat-form-field class="full-width">
    <mat-select [ngModelOptions]="{standalone: true}" placeholder="Proveedor" required [(ngModel)]="formModel.proveedor" name="proveedor">
      <mat-option *ngFor="let proveedor of proveedores |async" [value]="proveedor.id_proveedor">{{proveedor.razon_social}}</mat-option>
    </mat-select>
  </mat-form-field>

  <mat-form-field class="half-width">
    <mat-select [ngModelOptions]="{standalone: true}" placeholder="Motivo Gasto" required [(ngModel)]="formModel.motivo" name="motivoGasto">
      <mat-option *ngFor="let motivo of motivos |async" [value]="motivo.id_motivo_gasto">{{motivo.descripcion}}</mat-option>
    </mat-select>
  </mat-form-field>

  <mat-form-field class="half-width">
    <span matPrefix>$</span>
    <input type="number" [ngModelOptions]="{standalone: true}" [(ngModel)]="formModel.importe" matInput placeholder="Importe" class="example-right-align">
  </mat-form-field>

  <mat-dialog-content>
    <mat-form-field class="full-width">
      <textarea [(ngModel)]="formModel.mensaje" [ngModelOptions]="{standalone: true}" disabled name="mensaje" required matInput placeholder="Mensaje" rows="5"></textarea>
    </mat-form-field>

  </mat-dialog-content>

  <mat-dialog-actions>
    <div style="width: 50%;">
      <p>N° Reclamo:
        <strong>{{data.reclamo.nroReclamo}}</strong>
      </p>
    </div>
    <div style="text-align: right; width: 50%;">
      <button type="button" mat-button color="accent" style="margin-right: 5px;" (click)="onNoClick()">Cancelar</button>
      <button type="submit" [disabled]="!gastoForm.form.valid" mat-raised-button color="primary">Enviar</button>
    </div>
  </mat-dialog-actions>
</form>