.full-width{
    width: 100%;
}

.half-width {
  width: 50%;
}

.mat-form-field {
  padding: 0 0.5rem;
}

.example-right-align {
  text-align: right;
}

input.example-right-align::-webkit-outer-spin-button,
input.example-right-align::-webkit-inner-spin-button {
  display: none;
}

input.example-right-align {
  -moz-appearance: textfield;
}