<mat-expansion-panel hideToggle="true">
  <mat-expansion-panel-header>
    <mat-panel-title>
      <a>Expensas</a>
    </mat-panel-title>
    <mat-panel-description>

    </mat-panel-description>
  </mat-expansion-panel-header>
  <table class="table">
    <thead>
      <tr>
        <th>N° ID</th>
        <th>Cuota Anual</th>
        <th>Estado</th>
        <th>Total</th>
        <th></th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let expensa of expensas |async">
        <td>{{expensa.idExpensa}}</td>
        <td>{{expensa.cuotaAnual}}</td>
        <td>
          <strong>{{expensa.estado}}</strong>
        </td>
        <td>${{expensa.total}}</td>
        <td>
          <button mat-button color="accent" (click)="pagarConMercadoPago(expensa)">PAGAR EN MERCADO PAGO</button>
        </td>
        <td>
          <button mat-button color="accent">BAJAR COMO PDF</button>
        </td>
      </tr>
    </tbody>
  </table>
</mat-expansion-panel>