* {
  margin: 0;
  padding: 0;
}

body {
  background-image: url('../back.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
}

.row {
  margin-bottom: 0;
}

.Aligner {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}

.Aligner-item {
  max-width: 50%;
}

.Aligner-item--top {
  align-self: flex-start;
}

.Aligner-item--bottom {
  align-self: flex-end;
}

.lala {
position: absolute;
top: 0;
left: 0;
z-index: -1;
width: 100vw;
height: 100vh;
background-color: rgba(66, 66, 66, 0.4);
/* opacity: 0.6; */
}

.mobile-fab-tip {
	position: fixed;
	right: 85px;
	padding:0px 0.5rem;
	text-align: right;
	background-color: #323232;
	border-radius: 2px;
	color: #FFF;
	width:auto;
}

.collapsible-body {
  padding: 1rem;
}


