.table thead th {
    border-top: 0;
}

.table th, .table td {
    font-size: 13px;
    /* padding: 0.75rem 0; */
    vertical-align: middle;
    text-align: center;
    text-transform: capitalize;
}

/* .mat-card-title {
    font-size: 15px;
    margin: 0;
} */

:host /deep/ .mat-badge-content{
	margin-bottom: 8px;
}

.mat-expansion-panel-header-description {
	justify-content: flex-end;
}