<mat-expansion-panel hideToggle="true">
  <mat-expansion-panel-header>
    <mat-panel-title>
      <a>Consorcios</a>
    </mat-panel-title>
    <mat-panel-description>
      <button mat-button color="accent" (click)="liquidarTodos()">LIQUIDAR TODOS</button>
    </mat-panel-description>
  </mat-expansion-panel-header>
  <table class="table">
    <thead>
      <tr>
        <th>Nombre</th>
        <th>CUIT</th>
        <th>Telefono</th>
        <th>Superficie total</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let consorcio of consorcios">
        <td>{{consorcio.nombre}}</td>
        <td>{{consorcio.cuit}}</td>
        <td>{{consorcio.telefono}}</td>
        <td>{{consorcio.superficie}}</td>
        <td>
          <button mat-button [matMenuTriggerFor]="menu">
            <mat-icon>more_vert</mat-icon>
          </button>
          <mat-menu #menu="matMenu">
            <button mat-menu-item (click)="openLiquidar([consorcio])">
              <mat-icon>attach_money</mat-icon>
              <span>Liquidar</span>
            </button>
            <button mat-menu-item (click)="controlarConsorcio(consorcio)">
              <mat-icon>warning</mat-icon>
              <span>Controlar Consorcio</span>
            </button>
            <button mat-menu-item (click)="openVerConsorcio(consorcio)">
              <mat-icon>info</mat-icon>
              <span>Ver informacio completa</span>
            </button>
          </mat-menu>
        </td>
      </tr>
    </tbody>
  </table>
</mat-expansion-panel>