/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";
@import "~bootstrap/dist/css/bootstrap.css";
@import "~ngx-toastr/toastr.css";

body {
  background-image: url('./assets/back.jpg');
  background-size: cover;
  /* background-repeat: no-repeat; */
  /* height: 100vh; */
}

.overlay-background {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  width: 100%;
  min-height: 100vh;
  height: 100%;
  background-color: rgba(66, 66, 66, 0.4);
}