<div class="fixed-action-btn" *ngIf="usuario">
  <a class="btn-floating btn-large red">
    <i class="large material-icons">mode_edit</i>
  </a>
  <ul>

    <li>
      <a class="btn-floating amber darken-1" (click)="logout()">
        <i class="material-icons">reply</i>
      </a>
      <a class="btn-floating mobile-fab-tip">Logout</a>
    </li>

    <li *ngIf="usuario.id_rol === 1">
      <a class="btn-floating amber darken-1" (click)="openDialog()">
        <i class="material-icons">face</i>
      </a>
      <a class="btn-floating mobile-fab-tip">Generar link para Operador</a>
    </li>
    <li *ngIf="usuario.id_rol === 1">
      <a class="btn-floating amber darken-1" (click)="openAgregarConsorcio()">
        <i class="material-icons">location_city</i>
      </a>
      <a class="btn-floating mobile-fab-tip">Agregar nuevo consorcio</a>
    </li>
    <li *ngIf="usuario.id_rol === 1">
      <a class="btn-floating amber darken-1" (click)="openAgregarUnidad()">
        <i class="material-icons">business</i>
      </a>
      <a class="btn-floating mobile-fab-tip">Agregar una nueva unidad</a>
    </li>

  </ul>
</div>