<div class="fixed-action-btn">
  <a class="btn-floating btn-large red">
    <i class="large material-icons">mode_edit</i>
  </a>
  <ul>

    <li>
      <a class="btn-floating amber darken-1" (click)="logout()">
        <i class="material-icons">reply</i>
      </a>
      <a class="btn-floating mobile-fab-tip">Logout</a>
    </li>

    <li>
      <a class="btn-floating amber darken-1" (click)="openDialog()">
        <i class="material-icons">face</i>
      </a>
      <a class="btn-floating mobile-fab-tip">Generar link para Operador</a>
    </li>

  </ul>
</div>