<div class="row no-gutters" *ngIf="usuario">
  <div class="col-7 left-panel">
    <app-mensajes [usuario]="usuario"></app-mensajes>

    <mat-accordion>
      <app-review-users *ngIf="usuario.id_rol === 1"></app-review-users>
      <app-listar-reclamos [usuario]="usuario"></app-listar-reclamos>
      <app-listar-gastos *ngIf="usuario.id_rol <= 2" [usuario]="usuario"></app-listar-gastos>
      <app-listar-consorcios *ngIf="usuario.id_rol === 1 || usuario.id_rol === 2"></app-listar-consorcios>
      <app-listar-expensas></app-listar-expensas>
    </mat-accordion>

  </div>
</div>
<app-fab-button [usuario]="usuario"></app-fab-button>