<div class="row no-gutters">
  <div class="col-6 left-panel">
    <mat-card>
      <mat-card-title>¡Bienvenido {{name}}!</mat-card-title>
      <mat-card-content>
        <p>Usted se encuentra registrado bajo el consorcio:
          <strong>{{consorcio}}</strong>
        </p>
        <p>A continuacion le presentamos unos datos rapidos, en la esquina inferior derecha tiene mas acciones en donde puede
          encontrar los datos completos.</p>
        <p>Esperamos que este teniendo un agradable día.</p>
      </mat-card-content>
    </mat-card>

  </div>
</div>

<div class="fixed-action-btn">
  <a class="btn-floating btn-large red">
    <i class="large material-icons">mode_edit</i>
  </a>
  <ul>

    <li>
      <a href="#" class="btn-floating amber darken-1">
        <i class="material-icons">create</i>
      </a>
      <a href="#" class="btn-floating mobile-fab-tip">Edit</a>
    </li>
  </ul>
</div>