<div class="row no-gutters">
  <div class="col-7 left-panel">
    <mat-card style="margin-bottom: 10px;">
      <mat-card-title>¡Bienvenido {{name}}!</mat-card-title>
      <mat-card-content>
        <p>Usted se encuentra registrado bajo el consorcio:
          <strong>{{consorcio}}</strong>
        </p>
        <p>A continuacion le presentamos unos datos rapidos, en la esquina inferior derecha tiene mas acciones en donde puede
          encontrar los datos completos.</p>
        <p>Esperamos que este teniendo un agradable día.</p>
      </mat-card-content>
    </mat-card>

    <mat-accordion>
      <mat-expansion-panel hideToggle="true">
        <mat-expansion-panel-header>
          <mat-panel-title>
            <a>Solicitud de nuevos usuarios</a>
          </mat-panel-title>
          <mat-panel-description>
            <mat-icon [matBadge]="countUsers" matBadgeColor="warn" matBadgeSize="small" matBadgePosition="below">account_circle</mat-icon>
          </mat-panel-description>
        </mat-expansion-panel-header>
        <app-review-users></app-review-users>
      </mat-expansion-panel>
      <mat-expansion-panel hideToggle="true">
        <mat-expansion-panel-header>
          <mat-panel-title>
            <a>Reclamos</a>
          </mat-panel-title>
          <mat-panel-description>
            <mat-icon matBadge="0" matBadgeColor="warn" matBadgeSize="small" matBadgePosition="below">warning</mat-icon>
          </mat-panel-description>
        </mat-expansion-panel-header>
        <p>Componente que muestre los reclamos</p>
      </mat-expansion-panel>
    </mat-accordion>

  </div>
</div>

<div class="fixed-action-btn">
  <a class="btn-floating btn-large red">
    <i class="large material-icons">mode_edit</i>
  </a>
  <ul>

    <li>
      <a class="btn-floating amber darken-1" (click)="logout()">
        <i class="material-icons">reply</i>
      </a>
      <a class="btn-floating mobile-fab-tip">Logout</a>
    </li>

    <li>
      <a class="btn-floating amber darken-1" (click)="openDialog()">
        <i class="material-icons">face</i>
      </a>
      <a class="btn-floating mobile-fab-tip">Generar link para Operador</a>
    </li>

  </ul>
</div>