<table class="table">
  <thead>
    <tr>
      <th>Usuario</th>
      <th>Nombre</th>
      <th>Rol</th>
      <th>Consorcio</th>
      <th>Departamento</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let usuario of usuarios |async">
      <td>{{usuario.user}}</td>
      <td>{{usuario.persona}}</td>
      <td><strong>{{usuario.rol}}</strong></td>
      <td>{{usuario.consorcio}}</td>
      <td>{{usuario.unidad}}</td>
      <td>
        <button mat-button color="accent" (click)="marcarUsuarioComoActivo(usuario.user)">DAR DE ALTA</button>
      </td>
    </tr>
  </tbody>
</table>